html {
    background-color: black;
    background-image: url("https://i.ytimg.com/vi/23j2QGCl1w0/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: 99%;
    margin: 18px 23px;
}

.first {
    color: white;
    font-family: Arial Black;
}

#jett {
    border: 1px solid white;
    width: 5rem;
    height: 5rem;
    position:fixed; 
    left: 130px; 
    top:270px;
}

#map {
    font-size:smaller;
    margin:100px 55px;
}

#mode {
    color:lightslategray;
    font-size:0.8rem;
    position: fixed;
    top: 125px;
    left: 77px
}

#username {
    font-size: large;
    position: fixed; 
    left: 220px; 
    top:260px;
}

#champname {
    position: fixed; 
    left: 220px; 
    top:280px;
    margin-top: 23px;
    color: lightskyblue;
    font-size: smaller;
}

#role {
    color: white;
    position: fixed;
    right: 240px; 
    top: 95px;
    font-family: 'Copperplate Gothic';
    font-size: large;
}

#jettright {
    color: #f8e473;
    font-family: impact;
    font-style: block;
    font-size: 6rem;
    position: fixed;
    right: 200px; 
    top: 32px;
}